@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i|Monoton');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  overflow: hidden;
}

.midtest {
  color: #454749;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:
    'Source Sans Pro',
    sans-serif;
  min-height: 80vh;
}

.tile {
  background-color: #f7f4f400;
  border-radius: .1rem;
  box-shadow: 0 .75rem 1.5rem rgba(0, 0, 0, 0.2), 0 .25rem .25rem rgba(0, 0, 0, 0.2);
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 60rem;
  padding: 2rem;
}

.imagestyle {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.redrow {
  background-color: red;
  color: yellow;
  font-style: italic;
}

body {
  background-image: url(hero_bg.svg);
  background-color: #cccccc;
  background-size: cover;
}

.display {
  margin: 20px 10px;
}

.question {
  margin-left: 80px;
}

.Topbar {
  position: sticky;
  z-index: 997;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  background-color: maroon;
  width: 100%;
  height: 50px;
}

.Topbar h1 {
  color: white;
}

.test_buttun td button {
  margin: 0px 30px;
}

#prevQ {
  background-color: yellow;
  border: none;
  width: 70px;
  height: 20px;
}

#nextQ {
  background-color: blue;
  border: none;
  width: 70px;
  height: 20px;
}

#submit {
  background-color: green;
  border: none;
  width: 70px;
  height: 20px;
}

#end {
  background-color: red;
  border: none;
  width: 70px;
  height: 20px;
}

#total {
  color: green;
}

.blank_footer {
  margin-top: 30px;
  background-color: #5c0202d9;
  padding: 18px 0px;
}

.blank_footer span {
  display: flex;
  justify-content: center;
  color: white;
}

.blank_footer span a {
  color: white;
  text-decoration: none;
}